<div class="container pt-5 mt-5">
  <div class="row">
    <div class="offset-4">
      <strong>このサイトは、ゲーム関連の商品の情報を検索したり、</strong><br>
      <strong>ゲーム関連の商品のレビューの投稿、閲覧が可能なサイトです。</strong><br>
      <strong>さっそく新規登録を行って、様々な商品のレビューを行いましょう！</strong><br>
      <strong>登録済みの方は、ヘッダーかトップページのログインボタンから</strong><br>
      <strong>必要情報を入力して、ログインしましょう！</strong>
    </div>
  </div>
</div>