@import '~bootstrap/scss/bootstrap';

body {
   height: 100%;
   width: 100%;
   background-color: #FFFFCC;
   position: relative;
 }

 main {
   padding-bottom: 100px;
 }

 footer {
    height: 74px;
    width: 100%;
    color: #808080;
    position: absolute;
    bottom: 0;
 }

 footer p {
   text-align: center;
   padding-top: 25px;
 }