<table class="table">
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
    <th><%= user.nickname %></th>
  </tr>
  <tr>
    <th><%= user.sex %></th>
  </tr>
  <tr>
    <th><%= user.birth_day %></th>
  </tr>
</table>